// COLORS

$color-primary-orange: #e9ab53;
$color-primary-red: #f15e50;

$color-off-White: #fffdfa;
$color-grey-blue-light: #c5c6ce;
$color-grey-blue-dark: hsl(236, 13%, 42%);
$color-very-light-orange: #ffefd8;

$color-dark-blue: #00001a;

// /Font
$default-font: "Inter", sans-serif;
