// COLORS

$color-primary-orange: #e9ab53;
$color-primary-red: #f15e50;

$color-off-White: hsl(36, 100%, 99%);
$color-grey-blue-light: #c5c6ce;
$color-grey-blue-dark: hsl(236, 13%, 42%);

$color-dark-blue: #00001a;

// /Font
$default-font: "Inter", sans-serif;
