// COLORS

$color-primary-orange: rgb(233, 171, 83);
$color-primary-red: rgb(241, 94, 80);

$color-off-White: hsl(36, 100%, 99%);
$color-grey-blue-light: hsl(233, 8%, 79%);
$color-grey-blur-dark: hsl(236, 13%, 42%);

$color-dark-blue: rgb(0, 0, 26);

// /Font
$default-font: "Inter", sans-serif;
