.suggestion {
	grid-column: 1 / -1;
	grid-row: suggestion-start / suggestion-end;
	margin-top: 5rem;

	display: flex;
	justify-content: space-between;

	&__box {
		display: flex;
		align-items: center;
		width: 30%;

		&--img {
			width: 100%;

			@include respond(tab-land) {
				width: 60%;
			}
		}
	}

	&__details {
		margin-left: 1rem;
		padding: 2rem 0;

		display: grid;
		grid-template-rows: 6rem min-content 1fr;
		align-items: end;

		&--number {
			grid-row: 1 / 2;

			font-size: 4rem;
			align-items: flex-start;
			font-weight: 800;
			color: $color-grey-blue-light;
		}

		&--title {
			grid-row: 2 / 3;

			font-size: 2rem;
			font-weight: 700;
			color: $color-dark-blue;
		}

		&--discription {
			grid-row: 3 / -1;
			margin-top: 1.6rem;
			font-size: 1.6rem;
		}
	}
}
