*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	@include respond(big-desktop) {
		font-size: 50%; // 1rem = 12px
	}

	@include respond(tab-land) {
		// width < 900
		font-size: 56.25%; // 1rem = 9px
	}

	@include respond(tab-port) {
		// width < 600
		font-size: 50%; // 1rem = 8px
	}
}

body {
	box-sizing: border-box;
	font-family: $default-font;
	color: $color-grey-blue-dark;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	min-height: 100vh;
	display: grid;
	grid-template-rows:
		3rem [header-start] min-content [header-end main-start] minmax(
			12rem,
			min-content
		)
		[main-end] 12rem;
	grid-template-columns:
		minmax(8rem, 1fr) [center-start] repeat(
			8,
			[col-start] minmax(min-content, 16rem) [col-end]
		)
		[center-end] minmax(8rem, 1fr);
}
