*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: $default-font;
	color: $color-grey-blue-dark;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	min-height: 100vh;
	display: grid;
	grid-template-rows:
		3rem [header-start] min-content [header-end main-start] minmax(
			max-content,
			70vh
		)
		[main-end] 8rem;
	grid-template-columns:
		minmax(12rem, 1fr) [center-start] repeat(
			8,
			[col-start] minmax(min-content, 14rem) [col-end]
		)
		[center-end] minmax(12rem, 1fr);
}
